<% layout("/layouts/boilerplate") -%>
<div class="row mt-4">
  <div class="col-6 offset-3">
    <h2 class="text-center mb-3">Forgot Password</h2>
    <form method="POST" action="/forgot-password">
      <div class="mb-3">
        <label for="email" class="form-label">Enter your registered email</label>
        <input type="email" name="email" class="form-control" required />
      </div>
      <button class="btn btn-dark w-100">Send Reset Link</button>
    </form>
  </div>
</div>

